.ContainerBtn{
  width: 96px;
  height: 100%;
  background-color:#F9F9F9;
  transition: 1s
}

.ContainerBtnActive{
  width: 270px;
  min-height: 100%;
  background-color:#F9F9F9;
  transition: 1s
}

.UserProf{
  height: 25%;
  padding-top:25px;
  
}

.NavBtn{
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  height: 65%;
  
}

.BackBtn{
  height: 10%;
  
}

