.ContainerBtn{
  width: 100px;
  height: 966px;
  background-color:#F9F9F9;
  transition: 0.1s;
}

.ContainerBtnActive{
  width: 240px;
  min-height: 100vh;
  background-color:#F9F9F9;
  transition: 0.1s;
}

.UserProf{
  height: 25%;
  margin-top:25px;
}

.NavBtn{
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  height: 65%;
}

.BackBtn{
  height: 10%;
}

