.left-screen{
  width: 100vh;
  height: 100vh;
  // background: rgba(89, 91, 210, 0);
  display:flex;
  align-items: center;
  opacity: 0.6;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/1080854/pexels-photo-1080854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
}

.left-screen__text{
  width: 100vh;
  height: 100vh;
  background: rgba(89, 91, 210, 0.699);
}


