.button{
  background: $primary-color;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  user-select: none;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 1px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.button:hover{
  background: lighten($primary-color, 10%);
}

.button:active{
  background: lighten($primary-color, 5%);
  box-shadow: none;
}