.PopularScreenContainerMain{
  max-width: 1820px;
  // height: 100vh;
  // padding: 4%; 
  padding:20px;
  // float: right;
  // width: calc(100vw - 197px);
}


.PopularScreenContent{
  max-width: 1550px;
  max-height: 844px;
  background-color:white;
  display: flex;
  flex-direction: row;
}

//1160px 420px 424

.PopularScreenPopularTopicsLeft{
  // max-width: 1160px;
  margin-top:30px;
  max-height: 424px;
}

.PopularScreenContentLeft{
  padding-top: 43px;
  max-width: 1000px;
  max-height: 800px;
}

.PopularScreenContentRight{
  max-height: 844px;
  max-width: 390px;
}

.PopularScreenVideoDescriptionLeft{
  padding:0px 40px;
}

@media screen and (max-width:1510px){
  // .PopularScreenContent{
  //   max-width: 1550px;
  //   max-height: 844px;
  //   // margin: auto;
  //   margin: 3.5%;
  //   // margin-left: 90px;
  //   // margin-top:40px;
  //   // margin-bottom:120px;
  //   // background-color:black;
  //   display: flex;
  //   flex-direction: row;
  // }
  .ContentContainer{
    margin: 20px !important;
  }
  
  .PopularScreenPopularTopicsLeft{
    // max-width: 1160px;
    // max-height: 424px;
    width: calc(100vw - 200px);
  }
  
  // .PopularScreenContentLeft{
  //   float: left;
  // }
  
  .PopularScreenContentRight{
    // float: right;
    // max-height: 844px;
    // max-width: 390px;
    display: none;
  }
}


@media screen and (max-width:1510px){
  .ContentContainer{
    margin: 20px !important;
  }
  
  .PopularScreenPopularTopicsLeft{
    width: calc(100vw - 200px);
  }

  .PopularScreenContentRight{
    display: none;
  }
}
