.PopularScreenContainerMain{
  min-width: 1824px;
  height: 100vh;
  background-color:aqua;
  display: inline-block;
}

.PopularScreenContainerContent{
  min-width: 1600px;
  height: 900px;
  margin: auto;
  margin: 20px;
  margin-top:30px;

  background-color:white;
}