.ButtonTopicsStyle{
  color:#595BD2;
  font-size:14pt;
  min-width: 50%;
  display: flex;
  align-items: right;
  // 
}

.ButtonTopics_text{
  // height: 50px;
  // text-align: center;
  
  height: 24px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  padding: 1%;
  margin-left: auto; 
}

// -ms-user-select: none; color:#595BD2;background-color: #F9F9F9;font-size:14pt;
  // -moz-user-select: none;
  // -khtml-user-select: none;
  // -webkit-user-select: none;