.ButtonTopicsStyle{
  color:#595BD2;
  // font-size:14pt;
  background-color: #F9F9F9;
  float:right;
  width: 220px;
  height: 36px;
  display: flex;
  align-items: center;
  // margin: auto;
  // margin-right:20px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.ButtonTopics_text{
  width: 220px;
  font-size:14pt;
  color:#595BD2;
  text-align: center;
}