.left-screen{
  width: 100vh;
  height: 100vh;
  background: rgba(89, 91, 210, 0);
  display:flex;
  align-items: center;
  opacity: 0.5;

  overflow: hidden;
}

.left-screen__text{
  margin: auto;
  color: white;
  font-size: 6vw;
  // text-align: center;
}

.left-screen__img{
  // text-align: center;
}

