.auth{
  width: 260px;
  height: 450px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.auth__btns__up{
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #595BD2;
  cursor: pointer;
  margin:auto;
}

.auth__btns__in{
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #595BD2;
  cursor: pointer;
  margin:auto;
}

.auth__btns{
  width: 100%;
  display: flex;
  flex-direction: row;
}