.BtnUser1{
  width: 20px;
  height: 20px;
  background-color:#595BD2;
  margin: auto;
  margin-top: 55px;
  border-radius: 3px;
  background: -webkit-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: -o-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: -moz-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: linear-gradient(to right, rgb(89, 91, 210),rgba(89, 91, 210, 0.5));
  display:block;
}

.BtnUser1Active{
  width: 90px;
  height: 20px;
  background-color:#595BD2;
  margin: auto;
  margin-left:40px;
  margin-top: 20px;
  border-radius: 3px;
  background: -webkit-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: -o-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: -moz-linear-gradient(left,rgb(89, 91, 210),rgba(89, 91, 210, 0.5)); 
  background: linear-gradient(to right, rgb(89, 91, 210),rgba(89, 91, 210, 0.5));
  display:block;
  // transition: 1s;
}

.TextUserBtn{
  color: white;
  text-align: center;
  
}