.LeftHalfScreen{
  width: 960px;
  height: 100vh;
  background: #595BD2;
  display:flex;
  align-items: center;
  // opacity: 0.7;
  // background-image: url(./LeftPic.png) 
}

.TextForLeft{
  margin: auto;
  color: white;
  font-size: 6vw;
  // text-align: center;
  font-family: Helvetica;
}