.ContainerBtn{
    width: 90px;
    height: 100%;
    background-color:#F9F9F9;
    // float:left;
    // min-height: 100%;

}

body {
    height: 100%;
    margin: 0;
}


.UserProf{
    height: 25%;
    padding-top:25px; 
}




.NavBtn{
    height: 65%;
    // margin: auto;
    // background-color: rgb(182, 116, 35); 
}



.BackBtn{
    height: 10%;
    // background-color: rgb(7, 49, 35); 
}