.UserInfo{
  width: 60px;
  height: 24px;
  margin: auto;
  
}

.UserInfoActive{
  width: 160px;
  height: 60px;
  display: flex;
  flex-direction: row;
  // background-color: black;
  // transition: 1s;
  // padding-left:35px;
  margin: auto;
}

