.sidebar-item__icon,
.sidebar-item__icon-active{
  display: none;
}

.sidebar-item-open,
.sidebar-item-close{
  display: flex;
  text-decoration: none;
  
  justify-content: space-around;
  height: 40px;
  cursor: pointer;
  // margin: 10px 0px;
  padding: 5px 0px; 
  align-items: center;
}

.sidebar-item-open,
.sidebar-item-open-active{
  justify-content: space-between;
  padding-left: 40px; 
  color: $passive-accent-color;
}


.sidebar-item__icon>svg,
.sidebar-item__icon-close>svg,
.sidebar-item__icon-close-active>svg{
  width: 15px;
}

.sidebar-item__icon-close>svg>path{
  fill: lighten($passive-accent-color, 18%);
}
.sidebar-item__icon-close-active>svg{
  fill: $primary-color !important;
}

.sidebar-item__name-close,
.sidebar-item__name-close-active{
  display: none;
}

.sidebar-item__name-open{
  text-decoration: none !important;
}

.sidebar-item__name-open-active{
  color: $primary-color;
}
