.sign-with__part1__text{
  color:#C1BFC4;
  font-size: 13px;
  width: 50px;
  text-align: center;
  margin:auto;
}

.sign-with{
  margin-top:20px; 
}

.sign-with__part1{
  display: flex;
  width: 100%;
  align-items: center;
}

.sign-with__part2{
  margin-top:10px; 
  display: flex;
  flex-direction: row;
}