body{
  margin: 0px;
  font-family: Roboto;
}

.contentWrapper{
  overflow: auto;
  height: 100vh;
  width: 100%;
}

.coupleWrapper{
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.coupleWrapper:nth-child(2){
  flex-grow: 100;
}